.Project {
    color: white;
    height: 40rem;
    width: 100vw;
    text-align: center;
}

.para-pro {
    display: flex;
}

.box {
    color: black;
    height: 14rem;
    width: 19.70rem;
    margin: 2rem;
    font-size: 2rem;
}

.img-size {
    height: 15rem;
    width: 19.70rem;
    border-radius: 2rem;
}

.heading-project {
    font-size: 1.80rem;
    ;
}

.heading-project:hover {
    color: rgba(2, 195, 195, 0.787);

}

/*Tablet Screen*/
@media screen and (max-width: 992px) {

    .para-pro {
        gap: 1.5rem;
    }

    .box {
        width: 280px;
        font-size: 1.6rem;
    }

    .img-size {
        height: 13rem;
    }

    .heading-project {
        font-size: 1.5rem;
    }
}

/*Mobile Screen*/
@media screen and (max-width: 500px) {
    .hero-section {
        width: 95%;
        padding-right: 1rem;
        box-sizing: border-box;

    }

    .Project {
        height: auto;
        min-height: 100vh;
        padding-bottom: 5rem;
    }

    .para-pro {
        flex-direction: column;
        align-items: center;
    }

    .Skill {
        height: auto;
        min-height: 100vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
        overflow: hidden;
    }

    .box {
        width: 90%;
        margin: 1rem 0;
        margin-top: 3rem;
    }

    .contact {
        margin-top: 3rem;
        height: auto;
        width: 95%;
        padding-right: 1rem;
        box-sizing: border-box;
    }
}