.hero-section{
    height: 45rem;
    width: 100vw;
    display: flex;
}
.left{
    height: 60rem;
    width: 50vw;
    padding-top: 15rem;
    padding-left:4.50rem;
    color: white;

    
}
.dev-name{
    font-size: 2rem;
    margin-top: 0.15rem;
   
}
.dev-name span{
    color: rgba(2, 195, 195, 0.787);
}
.stack{
    font-size: 3.4rem;
    
}
.img{
    padding-top: 5rem;
    padding-left: 13rem;
    height: 450px;
    width: 400px;
}
.para2{
    margin-top: 1rem;
}